.widget,
.widget *,
.widget *::before,
.widget *::after {
  box-sizing: border-box;
}

.widget img {
  border: 0 none;
}

p {
  font-size: 14px;
}

li {
  float: left;
}

footer {
  background-color: #1d1d1d;
  font-size: 1.1em;
}

@media screen and (min-width: 1400px) {
  header {
    height: 300px;
  }
}

